<div class="row">
    <form class="left add-bottom" action="/post/" method="post">
        <div class="fourteen columns alpha">
            <input type="text" id="message" name="message">
        </div>

        <div class="two columns omega">
            <input type="submit" value="Kysy">
        </div>
    </form>
</div>
