<div class="row">
    <form class="left" action="/answer/{{ key }}/" method="post">
        <div class="fourteen columns alpha omega">
            <input type="text" id="message" name="message">
            <input type="submit" value="Vastaa">
        </div>
    </form>
</div>